export SECRET_CLOUDFLARE_TUNNEL_CREDS="eyJBY2NvdW50VGFnIjoiYjVlNjVkZTYwNWE2ZjNmZmVkMzg3ZDZhYmRjNzk3NTgiLCJUdW5uZWxTZWNyZXQiOiJRSWJOUGN5eUM4c1dqdmNldXhDVE1XR0M4VnFTM3BuM0E5VTZUY0YzVFlNPSIsIlR1bm5lbElEIjoiNjZiN2I0MTgtOWVjZS00YTc5LWJiYzMtOGEwMzVlYzAzZmQ1In0="
export SECRET_CLOUDFLARE_TUNNEL_CREDS="eyJBY2NvdW50VGFnIjoiYjVlNjVkZTYwNWE2ZjNmZmVkMzg3ZDZhYmRjNzk3NTgiLCJUdW5uZWxTZWNyZXQiOiJRSWJOUGN5eUM4c1dqdmNldXhDVE1XR0M4VnFTM3BuM0E5VTZUY0YzVFlNPSIsIlR1bm5lbElEIjoiNjZiN2I0MTgtOWVjZS00YTc5LWJiYzMtOGEwMzVlYzAzZmQ1In0="
